<div class="d-flex justify-content-center mt-5">
  <form style="width: 80rem;" action="/profile" method="post"> 
    <img class="rounded-circle" src="{{user.avatarUrl}}" alt="{{user.name}}" width="50">
    Create a recipe!
    <div class="form-floating m-2">
      <input class="form-control" name="description" placeholder="Leave your descrption here" id="floatingTextarea"></input>
      <label for="floatingTextarea">Write the steps of recipe</label>
    </div>
    <div class="row g-2 m-2">
      <div class="col-md-6">
        <div class="form-floating">
          <select name="potato" class="form-select" id="floatingSelectGrid">
            {{#each potatoes as |potato|}}
              <option value="{{potato._id}}">{{potato.name}}</option>
            {{/each}}
          </select>
          <label for="floatingSelectGrid">Choose your potato</label>
        </div>
      </div>
      <div class="col-md-6"> 
        <div class="form-floating">
          <input type="text" name="time" class="form-control" id="floatingInputGrid" placeholder="time">
          <label for="floatingInputGrid m-2">Time to cook</label>
        </div>
      </div>
    </div>
    <div class="input-group mb-3 m-3">
      <input type="file" class="form-control" id="inputGroupFile02">
      <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="m-1">
            <button type="submit" class="btn btn-outline-secondary mb-5">Publish</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div>
  <h5 class="container d-flex justify-content-center">Recipe of {{user.username}}</h5>
</div>

<hr>

 
{{#each user.recipes as |recipe| }}
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card" style="width: 80rem;">
          <div class="card-body">
            <img class="rounded-circle" src="{{ user.avatarUrl }}" alt="{{ user.username }}" width="35" />
            <h4> {{ user.username }}</h4>
            <p class="card-text">{{ recipe.description }}</p>
            <p><strong>{{ elapsedTime recipe.createdAt }}</strong></p>
            <a href="/" class="btn btn-outline-success btn-sm me-3">Edit Recipe</a>
            <a href="/" class="btn btn-outline-success btn-sm">Delete Recipe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}

