<div class="d-flex justify-content-center g5">
  <form action="/profile" method="post"> 
    <img class="rounded-circle" src="{{user.avatarUrl}}" alt="{{user.name}}" width="50">
    Create a recipe!
    <div class="form-floating m-2">
      <input class="form-control" name="description" placeholder="Leave your descrption here" id="floatingTextarea"></input>
      <label for="floatingTextarea">Write the steps of recipe</label>
    </div>
    <div class="row g-2 m-2">
      <div class="col-md-6">
        <div class="form-floating">
          <select name="potato" class="form-select" id="floatingSelectGrid">
            {{#each potatoes as |potato|}}
              <option value="{{potato._id}}">{{potato.name}}</option>
            {{/each}}
          </select>
          <label for="floatingSelectGrid">Choose your potato</label>
        </div>
      </div>
      <div class="col-md-6"> 
        <div class="form-floating">
          <input type="text" name="time" class="form-control" id="floatingInputGrid" placeholder="time">
          <label for="floatingInputGrid m-2">Time to cook</label>
        </div>
      </div>
    </div>
    <div class="input-group mb-3 m-3">
      <input type="file" class="form-control" id="inputGroupFile02">
      <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="m-1">
            <button type="submit" class="btn btn-outline-secondary">Publish</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<hr>

<div class="d-flex justify-content-center g5">
  <h5>Recipe of {{user.username}}</h5>
{{#each user.recipes as |recipe| }}
  <div class="card" style="width: 80rem;">
    <img src="" class="card-img-top" alt="recipe-image" />
    <div class="card-body">
      <img class="rounded-circle" src="{{ user.avatarUrl }}" alt="{{ user.username }}" width="25" />
      {{ user.username }}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ recipe.description }}</li>
      <li class="list-group-item">{{ elapsedTime recipe.createdAt }}</li>
    </ul>
  </div>
  <hr>
{{/each}}
</div>