
<div class="container">
  <div class="d-flex flex-row-reverse">
    {{#each recipes as |recipe| }}

      <div class="container d-flex justify-content-center" >
        <div class="row">
        <div class="col-lg-4 mb-4">
        <div class="card" style="width: 80rem;">
          <div class="card-body">
            <img class="rounded-circle" src="{{ user.avatarUrl }}" alt="{{ user.username }}" width="55" />
            <h4> {{ recipe.user.username }}</h4>
            <p class="card-text">{{ recipe.description }}</p>
            <p><strong>{{ elapsedTime recipe.createdAt }}</strong></p>
          <a href="/" class="btn btn-outline-success btn-sm">Read More</a>
            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
          </div>
        </div>
        </div>
    {{/each}}
