<div class="card border-warning m-4 shadow p-3 mb-5 bg-white rounded custom-width-book mx-auto">
  <div class="text-center">
    <div class="list-inline-item mr-4 p-4"><h4>The book of all recipes</h4></div>
  </div>
</div>
<div class="container d-flex justify-content-center mt-5">
  <div class="row">
    {{#each recipes as |recipe| }}
      <div class="col-4 mb-3">
        <div class="card border-warning shadow p-3 mb-5 bg-white rounded">
         <img src="{{recipe.image}}" class="card-img-top custom-centered-image" alt="Recipe Image" />
          <img class="rounded ms-3 mt-3" src="{{ user.avatarUrl }}" alt="{{ user.username }}" width="55" />
          <div class="card-body">
            <h4 class="card-title">{{ recipe.user.username }}</h4>
            <p class="card-text">{{ recipe.description }}</p>
            <p><strong>{{ elapsedTime recipe.createdAt }}</strong></p>
            {{#if ../currentUser}} 
              <a href="/book" class="btn btn-outline-success btn-sm" aria-disabled="true">More Recipes {{currentUser.name}}</a>
            {{else}} 
              <a href="/register" class="btn btn-outline-success btn-sm">More Recipes</a>
            {{/if}} 
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>