<div class="text-center card border-warning shadow bg-white rounded custom-width-card-book mt-5">
    <h3><i class="fas fa-utensils list-inline-item"></i></h3>
    <div class="list-inline-item"><h4>Book of recipes</h4></div>
</div>
<div class="container d-flex justify-content-center mt-5">
  <div class="row">
    {{#each recipes as |recipe|}}
      <div class="col-4 mb-5">
        <div class="card border-warning shadow bg-white rounded long-card-book recipe-card-list-book">
          <div class="custom-centered-image">
            <img src="{{recipe.image}}" class="card-img-top image-custom-book-recipe" alt="Recipe Image" />
          </div>
          <h4 class=" mt-4 mb-5 ms-4"> {{ recipe.title }}</h4>
          <div clas="d-flex items-aling-center ml-5 mt-5 ms-5">
            <img class="rounded-circle ms-5" src="{{ user.avatarUrl }}" alt="{{ user.avatarUrl }}" width="55"></img>
            <span class="ms-3 mt-3 h4">@{{ recipe.user.username }}</span>
          </div>
          <div class="d-flex items-aling-center ml-5 mt-2 ms-3">
            <button class="btn btn-primary mt-3 ms-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-recipe-{{ recipe.id }}" aria-expanded="false" aria-controls="collapse-recipe-{{ recipe.id }}">
              Read more
            </button>
            <form action="/likes/{{recipe._id}}" method="POST">
              <button class=" like btn btn-outline-danger btn-sm mb-3 mt-3 ms-3"><i class="far fa-heart"></i>
                {{ recipe.likes }}
              </button>
            </form>
          </div>
          <div class="card-body">
            <div class="d-flex items-aling-center ml-5 mt-3 ms-3">
               <div class="collapse" id="collapse-recipe-{{ recipe.id }}">
                  <div class="">
                    {{ recipe.description }}
                  </div>
                </div>
            </div>
            <div class="d-flex items-aling-center mt-2 ms-3">
              <p><strong><small>{{ elapsedTime recipe.createdAt }}</small></strong></p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>