<div class="container center">
  <div class="row">
    <div class="col m-3">
      <div class="card border-warning shadow mt-2 bg-white rounded">
        <div class="card-body mt-2">
          <img src="{{ recipe.image }}" class="card-img-top custom-centered-image mb-2" alt="Recipe Image" />
          <h4>{{ recipe.title }}</h4>
          <img class="rounded-circle" src="{{ avatarUrl }}" alt="" width="35" />
          <h4>@{{ username }}</h4>
          <p class="card-text">{{ recipe.description }}</p>
          <p><strong>{{ elapsedTime createdAt }}</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>