<div class="text-center card border-warning shadow bg-white rounded custom-width-card-random mt-5">
    <h3><i class="fas fa-utensils list-inline-item"></i></h3>
    <div class="list-inline-item"><h4>Recipes random</h4></div>
</div>
<div class="container m-5">
  <div class="row">
    <div class="col">
      <div class="card border-warning shadow mt-4 bg-white rounded">
        <div class="card-body mt-1">
          <div class="row">
            <div class="col">
           </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <img class="mb-1 rounded-circle" src="{{ avatarUrl }}" alt="" width="55" />
              <h4>@{{ username }}</h4>
              <img src="{{ recipe.image }}" class="mt-3 mb-5" alt="Recipe Image" style="width: 350px; height: 300px;"/> 
            </div>
            <div class="col-md-8">
              <h4>{{ recipe.title }}</h4>
              <p><small>{{ elapsedTime createdAt }}</small></p>
              <p class="card-text">{{ recipe.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>